body {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: 0px;
    margin: 0px;
}


/*******************header*********************/

.main-header {
    padding-top: 50px;
    margin-bottom: 40px;
    background-color: #eee;
}

.container {
    width: 1200px;
    padding: 0px 20px;
    margin: auto;
}

.logo {
    margin-top: -1px;
    float: left;
}

.logo img:hover {
    opacity: .8;
}

.logo img:active {
    opacity: .3;
}

.main-navigation {
    float: left;
    width: 620px;
    margin-top: 25px;
    margin-left: 200px;
    margin-bottom: 89px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
}

.main-navigation a {
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    margin-right: 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    padding: 5px 0px 7px 0px;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:active {
    color: #a6a6a6;
}

.main-navigation .active {
    position: relative;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0px;
    height: 2px;
    background-color: #fb565a;
}

.user-block {
    float: right;
    width: 160px;
    margin-top: 25px;
}

.user-block a {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    padding-left: 45px;
    text-align: left;
}

.user-block a::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-position: -5px -5px;
    background-image: url(../img/sprite.png);
}

.user-block a:hover {
    color: #fb565a;
}

.user-block a:active {
    color: #a6a6a6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/********slider******/

.slider {
    position: relative;
    height: 425px;
    margin: 0 auto;
    margin-top: -71px;
    background: #eeeeee;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 105px;
    left: 575px;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 7px;
    height: 7px;
    margin-left: 10px;
    background: white;
    border: 5px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text {
    width: 380px;
    padding: 55px 0;
    color: #283136;
    margin-top: 15px;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: black;
    width: 525px;
    margin-bottom: 27px;
}

.slide .btn {
    margin-top: 38px;
    width: 200px;
}

.slide .btn:hover {
    background: #e74246;
}

.slide .btn:active {
    background: #d7373b;
    color: #e37376;
    box-shadow: inset 0px 5px 0 0 #c13135;
}

.slide:nth-child(1) {
    background-image: url("../img/slider-1.jpg");
    background-repeat: no-repeat;
    background-position: 91% -8px;
}

.slide:nth-child(2) {
    background-image: url("../img/slider-2.jpg");
    background-repeat: no-repeat;
    background-position: 91% -8px;
}

.slide:nth-child(3) {
    background-image: url("../img/slider-3.jpg");
    background-repeat: no-repeat;
    background-position: 91% -8px;
}

.slide {
    display: none;
}

#btn-1:checked~.slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked~.slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked~.slides .slide:nth-child(3) {
    display: block;
}


/*******************main*********************/

.groups {
    padding-top: 40px;
}

.groups-item {
    float: left;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.groups-item:last-child {
    margin-right: 0px;
}

.groups-item span {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 17px;
    text-transform: uppercase;
}

.groups-item p {
    width: 250px;
    margin-bottom: 31px;
}

.btn {
    font-size: 16px;
    line-height: 18px;
    display: block;
    width: 120px;
    padding: 17px 20px;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.btn:hover {
    background: #e74246;
}

.btn:active {
    background: #d7373b;
    color: #e37376;
    box-shadow: inset 0px 5px 0 0 #c13135;
}

.btn-green {
    background: #00ca74;
}

.btn-green:hover {
    background: #00bc6c;
}

.btn-green:active {
    background: #00aa62;
    color: #4dc491;
    box-shadow: inset 0px 5px 0 0 #009958;
}

.btn-yellow {
    background: #efc84a;
}

.btn-yellow:hover {
    background: #eab534;
}

.btn-yellow:active {
    background: #e5a722;
    color: #edc265;
    box-shadow: inset 0px 5px 0 0 #ce961f;
}

.content-index {
    border-top: 2px solid #eeeeee;
    margin-bottom: 55px;
}

.content-index-left {
    margin-top: 70px;
    float: left;
    width: 680px;
}

.content-index-left p {
    margin-top: 35px;
    margin-bottom: 40px;
}

.content-index-text {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.content-index-list {
    font-weight: bold;
    text-transform: uppercase;
}

.content-index-left ul {
    list-style: none;
    padding: 0px;
}

.content-index-left li {
    position: relative;
    padding-left: 36px;
    margin-top: 23px;
}

.content-index-left li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 10px;
    left: 0px;
    background-color: #fb565a;
}

.content-index-rights {
    margin-top: 35px;
    margin-right: 25px;
    float: right;
}

.content-index-rights img {
    margin-right: 15px;
}

.content-index-rights p {
    font-weight: bold;
    margin-top: 30px;
    padding: 0px 17px;
    text-transform: uppercase;
}

.criterion {
    margin-top: 60px;
}

.criterion-item {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    margin-right: 5px;
}

.criterion-item:last-child {
    margin-right: 0px;
}

.criterion-item span {
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
}

.criterion-item sup {
    font-size: 30px
}

.criterion-item p {
    margin-top: 20px;
    padding-left: 0px;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
}

.partners {
    padding: 50px 0px 0px 30px;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
}

.partners a {
    position: relative;
    display: inline-block;
    padding-right: 51px;
    margin-right: 44px;
    margin-bottom: 45px;
}

.partners img {
    vertical-align: middle;
    opacity: .2;
}

.partners a::before {
    content: " ";
    position: absolute;
    display: block;
    width: 2px;
    height: 52px;
    top: 50%;
    right: 0px;
    margin-top: -30px;
    background-color: #eeeeee;
}

.partners a:nth-child(4n)::before {
    content: none;
}

.partners img:hover {
    opacity: 1;
}

.partners img:active {
    opacity: .1;
}

.partners img:last-cild {
    margin-right: 0px;
}


/*******************footer*********************/

.map {
    height: 416px;
    background-image: url("../img/map-marker.jpg");
    background-repeat: no-repeat;
}

.google-map {
    position: absolute;
    z-index: 0;
    width: 100%;
}

.google-map iframe {
    width: 100%;
    border: none;
}

.main-footer {
    margin-top: 80px;
}

.address {
    width: 220px;
    position: absolute;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    padding: 48px 50px 45px 50px;
    margin-top: 54px;
    z-index: 10;
}

.address span {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.address p {
    width: 210px;
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
    color: #8f8f8f;
}

.btn-mail {
    width: 180px;
    margin-top: 35px;
}

.btn-mail:hover {
    background: #e74246;
}

.btn-mail:active {
    background: #d7373b;
    color: #e37376;
    box-shadow: inset 0px 5px 0 0 #c13135;
}

.footer-social {
    margin-top: 69px;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 0;
    text-decoration: none;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 78px;
    height: 78px;
    background: #e1e1e1;
    border-radius: 50%;
    margin-right: 12px;
}

.social-btn:hover {
    background: #e74246;
}

.social-btn:active {
    background: #d7373b;
}

.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.social-btn-vk::before {
    width: 26px;
    height: 15px;
    background-position: -5px -360px;
}

.social-btn-vk:active::before {
    opacity: .3;
}

.social-btn-fb::before {
    width: 12px;
    height: 22px;
    background-position: -5px -189px;
}

.social-btn-fb:active::before {
    opacity: .3;
}

.social-btn-inst::before {
    width: 21px;
    height: 21px;
    background-position: -5px -329px;
}

.social-btn-inst:active::before {
    opacity: .3;
}

.footer-text {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-left: 130px;
    margin-top: 75px;
}

.footer-text span {
    font-size: 36px;
    line-height: 36px;
}

.footer-text p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}


/**********mail-box**********/

.modal-content-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 25px;
    height: 5px;
    background-color: #fecccd;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content-close:hover::before {
    background-color: #fb565a;
}

.modal-content-close:hover::after {
    background-color: #fb565a;
}

.modal-content-close:active::before {
    background-color: #ffeeee;
}

.modal-content-close:active::after {
    background-color: #ffeeee;
}

.mail-box {
    display: none;
    position: absolute;
    top: 2020px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 73px 100px 85px 100px;
    background-color: white;
    box-shadow: 0px 20px 45px 1px #5e5f5f;
    z-index: 100;
}

.mail-content {
    position: relative;
}

.mail-box-show {
    display: block;
}

.mail-box fieldset {
    border: none;
}

.mail-box legend {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 49px;
}

.mail-box label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.mail-box-left {
    float: left;
    margin-bottom: 35px;
}

.mail-box-right {
    float: left;
    margin-left: 40px;
}

.mail-box input[type=text] {
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    width: 355px;
    padding: 16px 14px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    outline: none;
}

.mail-box input[type=text]:hover {
    border: 2px solid #b4b9bb;
}

.mail-box textarea:hover {
    border: 2px solid #b4b9bb;
}

.mail-box input[type=text]:focus {
    border: 2px solid #000000;
}

.mail-box textarea:focus {
    border: 2px solid #000000;
    outline: none;
}

.mail-box label {
    display: block;
    width: 200px;
}

.mail-box textarea {
    width: 785px;
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    padding: 13px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
}

.mail-box .textarea {
    clear: both;
    width: 815px;
    margin: 0px;
}

.btn-mail-box {
    border: none;
    width: 260px;
    outline: none;
}


/*******************************CATALOG*******************************/

.headline {
    display: inline-block;
    vertical-align: top;
    font-size: 55px;
    line-height: 55px;
    margin-left: 218px;
    margin-bottom: 105px;
    margin-top: 0px;
}


/**********************main*********************/

.sorting {
    width: 300px;
    float: left;
    padding-top: 15px;
}

.sorting fieldset {
    border: none;
    padding-left: 0px;
}

.sorting legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.range-filter {
    width: 260px;
    margin-top: 43px;
    margin-bottom: 45px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 25px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
    width: 70%;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
    left: 15px;
}

.range-controls .max-toggle {
    left: 160px;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283136;
    border-radius: 5px;
}

.price-controls .min-price {
    margin-right: 25px;
}

.price-controls {
    white-space: nowrap;
}

.price-controls label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: block;
    margin: 15px 0px 0px 0px;
    padding-left: 36px;
    position: relative;
    color: #4d4d4d;
    cursor: pointer;
}

input[type="radio"]+label:last-child {
    margin-bottom: 25px;
}

input[type="radio"]+label::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    border: 3px solid #b8b8b8;
}

input[type="radio"]+label:hover::before {
    border: 3px solid #4d4d4d;
}

input[type="radio"]:disabled+label::before {
    border: 3px solid #ededed;
}

input[type="radio"]:checked+label::after {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 8px;
    top: 8px;
    background: #b8b8b8;
}

input[type="radio"]:checked+label:hover::after {
    background: #4d4d4d;
}

input[type="radio"]:checked:disabled+label::after {
    background: #ededed;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    margin-top: 15px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #b8b8b8;
    border-radius: 5px;
}

input[type="checkbox"]+label:hover::before {
    border: 2px solid #4d4d4d;
}

input[type="checkbox"]:disabled+label::before {
    border: 2px solid #ededed;
}

input[type="checkbox"]:checked+label::before {
    border: 0px solid #b8b8b8;
}

input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    background-image: url("../img/sprite.png");
    width: 27px;
    height: 23px;
    left: 0px;
    top: 0px;
    background-position: -5px -63px;
    opacity: .4;
}

input[type="checkbox"]:checked+label:hover::after {
    opacity: 1;
}

input[type="checkbox"]:checked:disabled+label::after {
    opacity: .1;
}

.btn-sorting {
    background-color: #eeeeee;
    color: black;
    border: none;
    width: 255px;
    font-weight: bold;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
}

.btn-sorting:hover {
    background-color: #dfdfdf;
}

.btn-sorting:active {
    background-color: #d5d5d5;
    color: #959595;
    box-shadow: inset 0px 5px 0 0 #bfbfbf;
}

.catalog {
    float: right;
    padding-top: 15px;
    margin-bottom: -15px;
    width: 800px;
}

.catalog-sorting {
    margin-bottom: 55px;
}

.catalog-sorting span {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.catalog-sorting-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #b2b2b2;
    margin-right: 25px;
    margin-top: 4px;
}

.catalog-sorting-item {
    float: right;
    margin-right: 15px;
}

.catalog-sorting a:hover {
    color: #666666;
}

.catalog-sorting a:active {
    color: black;
}

.catalog-sorting .active {
    color: black;
}

.catalog-sorting-item .sorting-up:hover {
    opacity: .4;
}

.catalog-sorting-item .sorting-down:hover {
    opacity: .4;
}

.catalog-sorting-item .sorting-up:active {
    opacity: 1;
}

.catalog-sorting-item .sorting-down:active {
    opacity: 1;
}

.catalog-sorting-item .sorting-down {
    display: inline-block;
    vertical-align: top;
    background-image: url("../img/sprite.png");
    width: 9px;
    height: 9px;
    background-position: -5px -291px;
    margin-right: 15px;
    opacity: .2;
}

.catalog-sorting-item .sorting-up {
    display: inline-block;
    vertical-align: top;
    background-image: url("../img/sprite.png");
    width: 9px;
    height: 9px;
    background-position: -5px -310px;
    opacity: .2;
    margin-right: 28px;
}

.catalog-sorting-item .sorting-active {
    opacity: 1;
}

.catalog {
    margin-bottom: 0px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    width: 362px;
    margin-right: 35px;
    margin-bottom: 35px;
    cursor: pointer;
}

.catalog-item img {
    vertical-align: bottom;
}

.catalog-item:nth-child(2n) {
    margin-right: 0px;
}

.catalog-head {
    width: 344px;
    height: 27px;
    background-color: #e9e9e9;
    padding-left: 16px;
    padding-top: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-head span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}

.catalog-head span::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    left: 23px;
}

.catalog-head span::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    left: 46px;
}

.hover {
    display: none;
    position: absolute;
    content: "";
    bottom: 0;
    width: 225px;
    padding-left: 68px;
    padding-right: 67px;
    padding-top: 47px;
    padding-bottom: 41px;
    background: #eeeeee;
    text-align: center;
}

.hover span {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.hover span+a {
    display: block;
    margin-top: 18px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
}

.btn-hover {
    width: 160px;
    margin-left: 13px;
}

.catalog-main {
    clear: both;
    margin-left: 400px;
    margin-bottom: -15px;
}

.btn-list {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    padding: 12px 0;
    margin: 25px 5px 0px 0px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #eeeeee;
    color: black;
    font-weight: bold;
    border-radius: 3px;
}

.catalog-item:hover {
    box-shadow: 0px 6px 6px 6px #d5d5d5;
    border: none;
    width: 360px;
    margin-left: 1px;
    margin-right: 36px;
}

.catalog-item:hover .catalog-head {
    background-color: #4d4d4d;
}

.catalog-item:hover .hover {
    display: block;
}

.btn-list:hover {
    background: #dfdfdf;
}

.btn-list:active {
    background: #d5d5d5;
    color: #959595;
    box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}

.btn-active {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px #dbdbdb;
}

.btn-next {
    width: auto;
    padding-left: 79px;
    padding-right: 79px;
}
